stages:
  - build
  - deploy_staging
  - release

# Job que construye los artefactos
build-job:
  stage: build
  tags:
    - GitLabRunner
  script:
    - mkdir -p dist
    - echo "Contenido del m칩dulo" > dist/prueba_module.txt
  artifacts:
    paths:
      - dist/
    expire_in: 90 day
  only:
    refs:
      - main
      - dev

# Job que despliega a staging
deploy-staging:
  stage: deploy_staging
  tags:
    - GitLabRunner
  dependencies:
    - build-job
  environment:
    name: staging
  script:
    - ssh-keyscan -H "$ODOO_PRUEBAS_HOST" > known_hosts
    - sshpass -p "$ODOO_RRUEBAS_PASSWORD" scp -r -v -o UserKnownHostsFile=known_hosts dist/prueba_module.txt "$ODOO_PRUEBAS_USER@$ODOO_PRUEBAS_HOST:$DEST_PATH"
    - sshpass -p "$ODOO_RRUEBAS_PASSWORD" ssh -tt -o StrictHostKeyChecking=no "$ODOO_PRUEBAS_USER@$ODOO_PRUEBAS_HOST" "sudo -n /usr/bin/systemctl restart odoo"
    - sshpass -p "$ODOO_RRUEBAS_PASSWORD" ssh -tt -o StrictHostKeyChecking=no "$ODOO_PRUEBAS_USER@$ODOO_PRUEBAS_HOST" "
      sudo -n /usr/bin/systemctl status odoo --no-pager;
      if ! systemctl is-active --quiet odoo; then
       echo 'Odoo NO est치 corriendo en el servidor de pruebas';
       exit 1;
      fi"   

  only:
    - dev

# Job que crea el release
release-job:
  stage: release
  tags:
    - GitLabRunner
  script:
    - echo "Creando release desde CI/CD"

  release:
    tag_name: "v1.0.$CI_PIPELINE_ID"
    name: "Pruebas Release: v1.0.$CI_PIPELINE_ID"
    description: "Despliegue autom치tico a staging desde el pipeline $CI_PIPELINE_ID"
    ref: "dev"
    assets:
      links:
        - name: "Descargar m칩dulo"
          url: "$CI_PROJECT_URL/-/jobs/$((CI_JOB_ID-2))/artifacts/download?file_type=archive"
  only:
    - dev
